.vscode
.vscode/*
binary.out
*.out
*.o

build_wasm/*.html
build_wasm/*.js
build_wasm/*.css
# .wasm file is only included to make it easier to develop the frontend on my vm without emscripten
#build_wasm/*.wasm