@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
html, body {
  font-family: "Dosis";
  font-weight: 300;
  height: 100%;
  margin: 0;
  /* overflow: hidden;  */
}

.nav-box{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #f1f3f5;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-left {
  text-align: left;
  padding: 10px 0px;
  font-size: 1rem;
}
.nav-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  text-align: right;
  padding: 10px 0px;
  font-size: 1rem;
}

label {
  text-align: justify;
  justify-content: center;
  justify-self: center;
}

/* BUTTON STYLING*/
.button {
	display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #aaa;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
  line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.button:hover {
	opacity: 0.85;
}

.button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
	outline: thin dotted #444;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.green {
	background-color: #27bd2e;
}


/*TEXTEDITOR & OUTPUT*/
/* Create two unequal columns that floats next to each other */
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  height: 300px; /* Should be removed. Only for demonstration */
  height: 100%;
}
  
.left {
    width: 60%;
    height: 100%;
}
  
.right {
  width: 40%;
  height: 100%;
}
  
/* Clear floats after the columns */
.row {
  height: 90%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .left {
    width: 100%;
    height: 70%
  }
  .right {
    width: 100%;
    height: 40%
  }
}
/* THE TEXT OUTPUT*/


/* Emscripten - Load-Spinner */
.emscripten { padding-right: 0; margin-left: auto; margin-right: auto; display: block; }
textarea.emscripten { font-family: monospace; width: 80%; margin-left:0px; background-color: #f1f3f5;}
div.emscripten { text-align: center; }
div.emscripten_border { border: 1px solid black; }
.spinner {
  height: 50px;
  width: 50px;
  margin: 0px auto;
  -webkit-animation: rotation .8s linear infinite;
  -moz-animation: rotation .8s linear infinite;
  -o-animation: rotation .8s linear infinite;
  animation: rotation 0.8s linear infinite;
  border-left: 10px solid rgb(0,150,240);
  border-right: 10px solid rgb(0,150,240);
  border-bottom: 10px solid rgb(0,150,240);
  border-top: 10px solid rgb(100,0,200);
  border-radius: 100%;
  background-color: rgb(200,100,250);
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/* CSS FOR TOGGLE BUTTONS*/
.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #4CD964;
}

.toggle:checked:before {
  left: 32px;
}