@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
html, body {
    font-family: "Dosis";
    font-weight: 300;
    height: 100%;
    margin: 0;
}
/* html, body {
    height: 100%;width: 100%;margin: 0;
    background-color: blueviolet;
    overflow: hidden; 
} 
*/
.nav-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #f1f3f5;
}
.nav-left {
    text-align: left;
    padding: 10px 0px;
    font-size: 1rem;
}
.nav-right {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    text-align: right;
    padding: 10px 0px;
    font-size: 1rem;
}



/* BUTTON STYLING*/
.button {
	display: inline-block;
    margin: 0;
    padding: 0.75rem 1rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #aaa;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
    line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.button:hover {
	opacity: 0.85;
}

.button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
	outline: thin dotted #444;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.green {
	background-color: #1fa3ec;
}

/*TEXTEDITOR & OUTPUT*/
/* Create two unequal columns that floats next to each other */
/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    height: 300px; /* Should be removed. Only for demonstration */
    height: 100%;
}
  
.left {
    width: 60%;
    height: 100%;
}
  
.right {
    width: 40%;
    height: 100%;
}
  
/* Clear floats after the columns */
.row {
    height: 90%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    .left {
        width: 100%;
        height: 70%
    }
    .right {
        width: 100%;
        height: 40%
    }
}
  